body {
    font-family: Arial, sant-serif;
    background-color: #d4d0d0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d10000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
}


.product{
    padding: 10px;
    max-width: 600px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
}

/*
*/

h2{
    color: #4CAF50;
    text-align: center;
}


#products img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.email-field{
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: 0;
    padding: 10px 10px;
    border-radius: 5px;

}

footer {
    margin-top: 5px;
    background-color: #000000;
    padding: 32px 32px;
    border-radius: 5px;
    box-shadow: rebeccapurple;
    text-align: center;
    color: #fff;
}
